AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

# TODO: Add to Ansible
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SIGNING_SECRET=

SMTP_PASSWORD=

SIDEKIQ_PANEL_LOGIN=
SIDEKIQ_PANEL_PASSWORD=

ROLLBAR_ACCESS_TOKEN=
